
QFrame#main_widget {
    background-color: #d1d1d1;
}

Btn#start_btn {
    image: url(./resource/icons/start_btn.png);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    min-height: 30px;
    min-width: 30px;
    margin-left: 20px;

}

Btn#start_btn:hover {
    image: url(./resource/icons/start_btn_hover.png);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;

}

Btn#cfg_btn {
    image: url(./resource/icons/cfg.png);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    min-height: 30px;
    min-width: 30px;
    margin-right: 20px;
}

QLineEdit#result {
    font: 60pt "Source Sans Pro";
    background-color: rgb(249, 236, 200);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;

}

GameLabel {
    background-color: #d1d1d1;
}

Tool {
    background-color: #7dc2d1;
    max-height: 45px;
}

Levels_Controls {
    background-color: #3d45d1;
}